body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#mainTable {
    width: calc(100vw - 240px); /* Subtracting padding on both sides */
    margin: 120px auto;
    border-spacing: 0 6px;
}

#logo{
    text-align: center;
    padding: 15px 0 15px 0; /* Adjust the padding as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the logo stays above other content */
    background-color: #ffffff; /* Match the background color of the table */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Dropdown Button */
.car-dropdown {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-car-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 15px; /* Adjust border radius as needed */
}
.show {display:block;}
.car_select_dropbtn{
    color: #333;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px; /* Adjust border radius as needed */
    padding: 5px;
}
.dropbtn{
    color: #333;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px; /* Adjust border radius as needed */
    padding: 5px;
}

.main_table_rows {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(15deg, #e0e0e0, #f3f3f3);
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px; /* Adjust border radius as needed */
}

#mainTable td:hover {
    background: linear-gradient(35deg, #dcdcdc, #ececec);
}


.dropdown-table {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 0;
    overflow: hidden;
}

.dropdown-table td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Adjust border radius as needed */
    padding: 5px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(45deg, #dcdcdc, #f3f3f3);
    color: #333;
}

.dropdown-table td:first-child {
    width: 75%; /* Adjust width as needed */
}

.dropdown-table td:last-child {
    width: 15%; /* Adjust width as needed */
}

.service_info_cell_off{
    opacity: 0.5;
}
